body{
    background-color: #E5E5E5;
    font-family: roboto;
}

.barra-do-topo{
    background-color: #FFFFFF;
    width: 100%;
    height: 54px;
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{ 
    display: flex ;
}

ion-icon{
    font-size: 30px;
    padding: 0px 10px;

}

.logo img {
    width: 103px;
    height: 29px;
    border-left: 1px solid #DBDBDB;
    padding-left: 10px;
    padding-top: 4px;
    margin-left: 5px;
}

input{
    border: 1px solid #DBDBDB;
    opacity: 0.4;
    text-align: center;
    border-radius: 4px;
    width: 215px;
    height: 28px;
}

.container{
    margin-top: 88px;
    margin-left: 200px;
    width: 935px;
}

.caixa-de-stories{
    display: flex;
    flex-wrap: wrap; 
}

.stories{
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    left: 215px;
    top: 88px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    overflow: hidden
    
}

ul{
    display: flex;
    list-style: none;
    
}

ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;
    
}

ul li img{
    border-radius: 50%;
    width: 56px;
    height: 56px;
    padding: 10px;
    transition: .5s ease;;
    background: linear-gradient(to right, #80410a, #c92d8c);
    border-radius: 50%;
    padding: 3px;
 }

ul li img:hover{
     transform: rotate(-5deg);
 }


.title{
     font-size: 12px;
     margin-top: 5px;
 }


.container-posts{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}


.post{
    background-color: #FFFFFF;
    width: 614px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
}

.minis{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minis img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.minis-imagem{
    display: flex;
    align-items: center;
    
}

.post-imagem{
    margin: 0px;
}

.post-imagem img{
    width: 612px;
    height: 612px;
}

.pos-imagem{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
 }

.curtida{
    height: 20px;
    display: flex;

 }
.curtida-texto{
      padding: 1px;
      
  }
.curtida img{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    padding: 2px;
  }

div{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

span{
    font-weight:bold;
    
}

.sidebar {
    position: fixed;
    width: 293px;
    top: 100px;
    right: 200px;
  }
.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
.user-foto {
    border-radius: 50%;
    width: 52px;
    height: 52px;
  }
.user-infor {
    width: 160px;
    font-size: 14px;
    line-height: 16px;
  }
.user-tag {
    font-weight: 501;
    font-style: normal;
  }
.user-nome {
    color: #8e8e8e;
  }
.ação-recomendação {
    font-size: 12px;
    line-height: 14px;
    color: #139ef2;
  }
.sidebar button {
    width: auto;
    margin: 0;
    background-color: #E5E5E5;
    font-weight: 501;
  }
.emoji {
    background-color: #ffffff;
    border: 0px;
    width: 30px;
    margin-right: 10px;
    padding: 0px;
  }
.sugestões {
    margin-top: 8px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
  }
.opções {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
  }
.title {
    font-size: 12px;
    line-height: 14px;
    color: #8e8e8e;
  }
.ver {
    font-size: 12px;
    font-weight: 501;
    line-height: 14px;
    color: #262626;
  }
.recomendação-perfil {
    border-radius: 50%;
    width: 36px;
    height: 36px;
  }
.recomendação-user-infor {
    width: 202px;
  }
.recomendação-user-tag {
    font-size: 14px;
    font-weight: 501;
    line-height: 16px;
    color: #262626;
  }
.ação-recomendação1 {
    font-size: 12px;
    line-height: 14px;
    color: #8e8e8e;
    padding-top: 4px;
  }
  
.ação-recomendação {
    font-size: 12px;
    line-height: 14px;
    color: #139ef2;
  }
.help > div {
    flex-direction: column;
    width: 293px;
    margin-bottom: 18px;
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7c7;
}
a {
    text-decoration: none;
    color: inherit;
}
.barra-inferior{
    width: 612px;
    height: 54px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}


@media (min-width: 614px) {
    .barra-inferior{
        display: none;
    }
    .barra-inferior{
        position: fixed;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        width: 100%;
        justify-content: center;
    }
    
}


@media (max-width:935px) {

    .sidebar{
        display: none;
    }
    .container{
        width: 100%;
        justify-content: center;
        margin: 0;
        
    }
    .caixa-de-stories{
        width: 100%;
        justify-content: center;
    }
    .container-posts{
        width: 100%;
        justify-content: center;
    }
    
}

